.container {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.out-info-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipient-block {
  flex-grow: 1;
  padding-right: 10px;
}

.recipient {
  width: 100%;
  margin-top: 5px;
  font-size: 17px;
}

.subject-block {
  flex-grow: 1;
}

.subject {
  width: 100%;
  margin-top: 5px;
  font-size: 17px;
}

.message-block {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  height: 100%;
}

.message {
  width: 100%;
  height: 100%;
  font-size: 17px;
  resize: none;
}

.send-button {
  margin-top: 5px;
  max-width: 150px;
  font-size: 17px;
}
