<form [formGroup]="form" class="container">
    <div class="out-info-block">
        <div class="recipient-block">
            <div>Reciplent</div>
            <select class="recipient"
                    formControlName="recipient">
                <option value="" disabled>Selected option</option>
                <option *ngFor="let recipient of recipients"
                        [value]="recipient">{{recipient}}
                </option>
            </select>
        </div>
        <div class="subject-block">
            <div>Subject</div>
            <input class="subject"
                   type="text"
                   formControlName="subject">
        </div>
    </div>
    <div class="message-block">
        <div>Message</div>
        <textarea class="message"
                  formControlName="message">
    </textarea>
    </div>
    <button class="send-button"
            [disabled]="form.invalid"
            (click)="sendMail()">Send message
    </button>
</form>
