<div class="wrapper">
    <div class="header">
        <img class="header-icon" [src]="mailImage">
        {{title}}
    </div>
    <div class="content">
        <div class="side">
            <div class="side-item" *ngFor="let type of typeItems"
                 (click)="setType(type.type)">
                <img class="side-image"
                     [title]="type.type"
                     [src]="type.img">
            </div>
        </div>
        <div class="messages-content" [ngSwitch]="title">
            <app-mails-list class="messages"
                            *ngSwitchCase="messageTypes.inbox">
            </app-mails-list>
            <app-new-mail class="new-message"
                          *ngSwitchCase="messageTypes.newMessage"
                          [newMessage]="newMessage">
            </app-new-mail>
        </div>
    </div>
</div>
