.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 1px solid lightgrey;
}

.header {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid lightgrey;
}

.header-icon {
  height: 20px;
  margin-right: 5px;
}

.content {
  display: flex;
  height: 100%;
}

.side {
  width: 35px;
  border-right: 1px solid lightgrey;
}

.side-item {
  border-bottom: 1px solid lightgrey;
  padding: 5px;
}

.side-image {
  height: 25px;
}

.messages-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.messages {
  width: 100%;
  overflow: auto;
}

.new-message {
  height: 100%;
  width: 100%;
}
