.container {
    display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.sender-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sender {
    font-size: 19px;
    font-weight: 500;
}

.subject-block {
    display: block;
    padding: 2px 0;
}

.text-block {
    margin: 2px 0;
    flex: 1;
    min-width: 0;
}

.text {
    display: inline;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.container.extended {
    box-sizing: content-box;
    max-height: auto;
    height: auto;
}

.extended .text {
    -webkit-line-clamp: initial;
    text-overflow: auto;
    box-sizing: content-box;
    height: auto;
    overflow: visible;
}

.mail-menu {
    position: absolute;
    max-height: 110px;
    right: 20px;
    margin: 0;
    margin-top: -11px;
    padding: 0;
    width: 40px;
    background: white;
    display: flex;
    align-items: flex-start;
}

i.fa {
    display: block;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    float: left;
    width: 100%;
    text-align: center;
}

.selected {
    background: gray;
}