<div class="container" [class.extended]="extended"
     [class.selected]="selected">
    <div (click)="toggleExtended()"
         (mousedown)="selectMail()"
         (mouseup)="mouseUp()">
        <div class="sender-block">
            <span class="sender">{{mail.sender}}</span>
            <span>{{mail.created}}</span>
        </div>
        <div class="subject-block">
            {{mail.subject}}
        </div>
        <div class="text-block">
            <span class="text">{{mail.message}}</span>
        </div>
    </div>
    <div [style.display]="selected ? 'block' : 'none'" class="mail-menu">
        <i class="fa fa-trash-o" (click)="onDeleteMail()"></i>
        <i class="fa fa-mail-reply" (click)="replyMail()" style="margin-top: 50%"></i>
    </div>
</div>
