<app-spinner [visible]="!mails">
    <div class="container">
        <app-mail-item *ngFor="let mail of mails"
                       [mail]="mail"
                       (deleteMail)="deleteMail($event)">
        </app-mail-item>
    </div>
</app-spinner>
