<div>
  <div class="loading"
       *ngIf="visible">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
  <ng-content></ng-content>
</div>
